name: Docker image buildx and push
on: [push]
jobs:
  Docker-Build-Push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: docker image build
        run: docker build -t maeveyang/flask_demo:latest
      - name: list docker image
        run: docker image ls
